terraform {
  required_providers {
    op = {
      source = "winebarrel/op"
    }
  }
}

provider "op" {
}

data "op_item" "yahoo" {
  title = "yahoo"
}

output "yahoo_username" {
  value = data.op_item.yahoo.username
}

output "yahoo_password" {
  value     = data.op_item.yahoo.password
  sensitive = true
}
